@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@1,300&family=Permanent+Marker&display=swap");

* {
  margin: 0;
}

body {
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
  background-color: salmon;
  font-family: "Permanent Marker", cursive;

}
